# PostgreSQL
POSTGRES_USER="admin"
POSTGRES_PASSWORD="password"
POSTGRES_DB="main"

DATABASE_HOST="localhost"
DATABASE_PORT="5432"

# DrizzleORM
DATABASE_URL="postgresql://admin:password@localhost:5432/main"

# SvelteKit
# should be https in prod!
ORIGIN="http://localhost:3000"

# NextAuth
AUTH_SECRET=""
AUTH_DRIZZLE_URL="postgresql://admin:password@localhost:5432/main"

AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
