---
import { Dropdown } from "@/components"

const currentURL = new URL(Astro.request.url);
const isWikiOrSub =
    currentURL.pathname === "/wiki" || currentURL.pathname.startsWith("/wiki/");
---

<div
    class="w-full h-24 flex flex-row bg-transparent px-8 py-6 items-center gap-4">
    <a href="/">
        <span class="text-2xl">NuTrack</span>
    </a>
    <a href="/wiki">
        <span class={`hover:underline ${isWikiOrSub ? "": ""}`}>Wiki</span>
    </a>
</div>
