---
import { WikiLayout } from "@/layouts";
import { turso } from "@/turso";

const { nutrient } = Astro.params;

type Item = {
    name: string;
    description: string;
    image_url: string;
};

const { rows } = await turso.execute({
    sql: `SELECT * FROM nutrients WHERE id = ?`,
    args: [nutrient!],
});

const item: Item | undefined =
    rows.length > 0
        ? {
              name: rows[0]["name"] as string,
              description: rows[0]["description"] as string,
              image_url: rows[0]["image_url"] as string,
          }
        : undefined;
---

<WikiLayout title={nutrient!}>
    <a href="/wiki/nutrients" class="hover:underline">Back to nutrients</a>
    {
        item ? (
            <article class="grid grid-cols-12 grid-rows-6 gap-5">
                <h1 class="col-span-3 row-span-1 font-bold">{item.name}</h1>
                <div class="col-span-9 row-span-6 w-full h-full">
                    <img
                        src={item.image_url}
                        alt={`${item.name} image is missing or invalid`}
                        class="w-20 h-20 text-red-400"
                    />
                </div>
                <div class="col-span-3 row-span-5">{item.description}</div>
            </article>
        ) : (
            <p>Element not found</p>
        )
    }
</WikiLayout>
